<a href="https://colab.research.google.com/github/blue-oasis/Python/blob/main/colab/0405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
len.__doc__ # .__doc__ 함수 정의 밑에 작성된 주석 출력

list.__doc__

int().__doc__

"int([x]) -> integer\nint(x, base=10) -> integer\n\nConvert a number or string to an integer, or return 0 if no arguments\nare given.  If x is a number, return x.__int__().  For floating point\nnumbers, this truncates towards zero.\n\nIf x is not a number or if base is given, then x must be a string,\nbytes, or bytearray instance representing an integer literal in the\ngiven base.  The literal can be preceded by '+' or '-' and be surrounded\nby whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.\nBase 0 means to interpret the base from the string as an integer literal.\n>>> int('0b100', base=0)\n4"

In [26]:
a = [[0, 2, 4], [3, 6, 9]] # list내 list 인덱스 접근
print(a[0][1]) # JAVA 이중배열 사용과 비슷

a = [0, 5, 7, 8, 4]

b = [1, 2, 3, 4, 5]

c = [6, 7, 8, 9, 10]

D = [a, b, c]

print(D[0:3])

E = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
i = 5
j = 1
k = 2
print(E[i*j + k])

# [인덱스] 연산하여 접근 가능. 예 : 1차원 배열을 a[i*j + k] 형태로 행/열화 시켜 접근가능 i = 행(한 행당 값 개수) j = 행번호 선택 k = 개별 원소 접근

a_1 = [1, 2, 3, 4, 5]
a_2 = [6, 7, 8, 9, 10]
a_3 = [11, 12, 13, 14, 15]

A = [a_1, a_2, a_3]
print(A)
print(A[0][4])

print(15//5)

2
[[0, 5, 7, 8, 4], [1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
7
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
5
3

In [80]:
# all() 원소값이 모두 참이면 true 리턴, sorted() 오름차순 정렬, sum() 모든 값 더하기
set_1 = {7, 1, 2, 3, 4, 5}
print(all(set_1), "\nset_1 정렬 : ", sorted(set_1))

set_2 = {22, 31, 0, 1, 2 ,3}
set_2.pop() # .pop() 제일 앞 원소 내보내고 지우기
print("set_2 는",set_2, "\n가장 큰 값은 : ", max(set_2), "\n가장 작은 값은 : ", min(set_2), "\n모든 원소의 합 : ", sum(set_2)) # max 제일 큰 값, min 제일 작은값 

index_set = list(enumerate(set_2)) # list(enumerate()) set을 (인덱스, 값) 형태의 list로 변환
print("set을 (인덱스, 값)형태의 리스트로 반환", index_set)

True
set_1 정렬 :  [1, 2, 3, 4, 5, 7]
set_2 는 {1, 2, 3, 22, 31}
가장 큰 값은 :  31
가장 작은 값은 :  1
모든 원소의 합 :  59
set을 (인덱스, 값)형태의 리스트로 반환 [(0, 1), (1, 2), (2, 3), (3, 22), (4, 31)]

In [24]:
set_3 = {2, 3, 4, 6, 22, 40}
set_3.add(48) # .add() 원소 1개 추가
print("set_3 :", set_3)
set_4 = set_3.copy() # .copy()  set 복사본 리턴

set_4.update({91, 52, 66}) # .update([])
sort_set_4 = sorted(set_4) # sorted() set을 오름차순 정렬하여 list로 반환
print("set_4 :",set(sort_set_4))

차집합 = set_4.difference(set_3) # a.difference(b_set) a-b 차집합 set 반환 
print("set_4와 set_3의 차집합 :", 차집합)
print("set_3과 set_4의 교집합 :",set_3.intersection(set_4))

실험 = {1, 2, 3, 4, 5}
실험2 = {3, 4, 5, 6, 7}
실험2.difference_update(실험) # a.difference_update(b) a에서 a와 b의 교집합 제거
print(실험2)

set_3 : {2, 3, 4, 6, 40, 48, 22}
set_4 : {2, 3, 4, 66, 6, 40, 48, 52, 22, 91}
set_4와 set_3의 차집합 : {66, 91, 52}
set_3과 set_4의 교집합 : {2, 3, 4, 6, 40, 48, 22}
{6, 7}

In [27]:
# 딕셔너리 키:값
dic = {1:"1번", 2:"2번", 3:"3번", 4:[4, 5, 6]}
print(dic[4])

5

In [25]:
# 암묵적 형변환
num_int = 5
num_flo = 3.12
num_new = num_int + num_flo

print(num_new, type(num_new))

8.120000000000001 <class 'float'>