<a href="https://colab.research.google.com/github/blue-oasis/Python/blob/main/colab/%ED%8C%8C%EC%9D%BCio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
with open('test.csv', 'w', encoding='utf-8-sig') as f:
  name = ['이름', '피카츄', '파이리']
  math = ['수학', '100', '20']
  kr = ['국어', '40', '70']

  for i in range(len(name)):
    f.write(name[i]+ ","+ math[i]+ ","+ kr[i]+ '\n')

In [20]:
with open('test2.csv', 'w', encoding='utf-8-sig') as f:
  name = ['이름', '수학', '국어']
  math = ['파이리', '100', '20']
  kr = ['피카츄', '40', '70']

  for i in range(len(name)):
    f.write(name[i]+ ","+ math[i]+ ","+ kr[i]+ '\n')

In [28]:
import csv

with open('test3.csv', 'a', encoding='utf-8-sig') as f:
  w = ['이름', '수학', '국어']
  name = ['꼬북이', '피카츄', '파이리']
  math = ['수학', '100', '20']
  kr = ['국어', '40', '70']
  f.write(w[0] + ',' + w[1] + ',' + w[2])
  for i in range(len(name)):
    f.write(name[i]+ ","+ math[i]+ ","+ kr[i]+ '\n')